<div class="posts list-group">
    {{#each Posts}}
<a class="list-item flex-row justify-space-around"
 href="/dashboard/edit{{id}}">
  <span>{{title}}</span>
  <span>{{format_date createAt}}</span>
  </a>
  {{each}}
</div>